/* GENERAL STYLES */

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

i {
	cursor: pointer;
}

body {
	background: linear-gradient(
		90deg,
		rgb(91, 187, 176) 0%,
		rgba(95, 158, 160, 1) 35%
	);
	font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;

	color: white;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 15px;
	gap: 15px;
}

/* SEARCH BAR */

.search-bar-container {
	position: relative;
	width: 50%;
	min-width: 150px;
}

.search-bar {
	width: 100%;
	border-radius: 5px;
	border: 0;
	padding: 1em;
	transition: 0.3s;
	padding-left: 2.25rem;
}

.fa-magnifying-glass {
	position: absolute;
	left: 20px;
	color: grey;
	top: 50%;
	transform: translate(-50%, -50%);
}

.fa-xmark {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	color: grey;
	right: 5px;
	background-color: white;
	transition: 0.3s;
}

.fa-xmark:hover {
	color: red;
}

.search-bar:focus {
	outline: 1px solid rgba(62, 138, 224, 0.3);
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

/* MAIN WEATHER  */

.weather-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 2em;
	border-radius: 5px;
	width: clamp(250px, 100%, 500px);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.time {
	color: #b6e6d7;
	font-weight: bold;
}

.weather-description,
.day-forecast-weather-description {
	text-transform: capitalize;
}

.temperature {
	font-size: 5rem;
	text-shadow: #8ae2bf 1px 0 3px;
	font-weight: bold;
	display: flex;
}

.feels-like {
	position: absolute;
	bottom: 0;
}

/* MORE WEATHER INFO  */

.more-weather-info {
	gap: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.more-weather-info div {
	/* font-weight: bold;
	width: 200px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #7f93eb;
	border-radius: 5px;
	padding: 1em;
	gap: 15px; */
}

/* WEATHER FORECAST  */

.five-day-forecast {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.day-forecast-card {
	flex-grow: 1;
	padding: 1em;
	border-radius: 5px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	gap: 15px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
